# CPSC 4810 TEAM PROJECT 123
### Member: 
- An Nguyen
- Andy Nguyen
- Dawn Dang - 100413772
- Huan Le Van

# TABLE OF CONTENTS
1. PROJECT DESCRIPTION
2. THE DATA
    1. Supplemental Data
3. BACKGROUND RESEARCH
4. READ IN THE DATA
    1. Reading .csv files
    2. Reading .txt files
        1. Data Selection
5. GETTING TO KNOW THE DATA
6. DATA PREPARATION
    1. Jobs postings
    2. Company details

## PROJECT DESCRIPTION

Our project focuses on analyzing job postings on LinkedIn in the USA last year, using a combination of datasets to ensure we cover all the necessary information. We prioritize data acquisition, preparation, cleaning, and aggregation to create a top-notch dataset for exploratory data analysis (EDA). Through EDA, we aim to discover important insights into the job market, like popular skills, common job titles, where opportunities are located, and trends in different industries. By providing clear insights, our project aims to help decision-making and improve the job market.

## THE DATA

Every day, LinkedIn serves as a go-to platform for thousands of companies and individuals seeking talent or career opportunities. This dataset offers an extensive collection of over 33,000 job postings spanning two distinct days, months apart. Each job listing is rich in detail, encompassing 27 key attributes such as job title, description, salary, location, application URL, and work arrangements (including remote or contract positions). Additionally, supplemental files provide insights into associated benefits, required skills, and relevant industries. Linked to the majority of job postings are corresponding company profiles, detailed in a separate CSV file, featuring company descriptions, headquarters location, employee count, and follower metrics.
Our main datasets:
- companies.csv - Details about hiring companies
- job_postings.csv - Details about the jobs

In [1]:
#Import library
import pandas as pd
import numpy as np

#### Jobs_postings

In [2]:
#load data
jobs_posting = pd.read_csv('./data/job_postings.csv')
jobs_posting.head(5)

,job_id,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,NaN,Entry level,NaN,1.700000e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,NaN,NaN,NaN,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,NaN,Entry level,NaN,1.700000e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,NaN,Mid-Senior level,NaN,1.700000e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [20]:
states = pd.read_json('./data/abbr-name.json', orient='index')
states.reset_index(inplace=True)
states.columns = ['state_short_name', 'state']
states.head(5)

  state_short_name       state
0               AL     Alabama
1               AK      Alaska
2               AZ     Arizona
3               AR    Arkansas
4               CA  California

In [29]:
jobs_posting[(~jobs_posting['location'].str.contains(','))].groupby('location').size().reset_index(name = 'counts').sort_values(by = 'counts').head(10)

                            location  counts
129           Youngstown-Warren area       1
68             Greater Rockford Area       1
113          Rocky Mount-Wilson Area       1
67              Greater Roanoke Area       1
32          Greater Clarksville Area       1
110         Peoria Metropolitan Area       1
34     Greater Colorado Springs Area       1
88                             Kenya       1
36                    Greater Dothan       1
37   Greater Eugene-Springfield Area       1

#### company_detail

In [ ]:
merged_data = pd.merge(jobs, comp, on='company_id', how='left')
comp_size = merged_data[['company_id', 'company_size']]
comp_size.to_csv('jobs_with_company_size.csv', index=False)

## Supplemental Data

Our project also utilise supplemental files from the same source; that offer enriched insights into the job market. These additional datasets provide valuable information on benefits, skills, industries, and company profiles associated with each job posting. By exploring these supplementary datasets, users gain deeper insights into job market dynamics, enabling informed decision-making and strategic planning in talent acquisition and employment.

Supplement datasets:
- **company_industries.csv** : Details on hiring compannies' registered industry names including company IDs.
- **industries.csv** and **jobs_industries.csv**: Lists of industry IDs, matching job IDs, and industry names.
- **company_specialities.csv**: Details on hiring companies special field.
- **employee_counts.csv**: Provide information about hiring companies' number of current employees, its followers and well as the time said data were collected.
- **job_skills.csv** and **skills.csv**: Lists of the key required skills for each job, along with matching job IDs and skill abbreviations.
- **benefit.csv**: contains lists of benefits offered, each matched with corresponding job IDs. 
- **Salaries.csv**: provides information on the compensation range for each job ID, including pay period, currency, and compensation type.

## Background Research

Our research centers on analyzing job advertisements on LinkedIn within the United States in 2023. We aim to understand job posting trends, companies' profiles, and job requirements and compensations. Given the complexity of the datasets, we must clean, map, combine, or drop datasets to ensure accuracy.

Key areas of focus include:

- Job Ads Posted on LinkedIn in the US: Examining trends and geographical variations across 50 states.
- Companies Posting Jobs: Analyzing company profiles, including size and industry.
- Job Requirements and Compensation: Investigating diverse skill sets and salary structures.

Our analysis acknowledges variability across states and industries, guiding us to consolidate datasets for effective exploration of correlations and patterns.

## Data Preparation

### Mapping company sizes
We generate a mapping file to correlate company size levels (1-7) with real company sizes on LinkedIn, aiming to explore how company size influences offered skills and salaries in job postings.

In [13]:
merged_data = pd.merge(jobs, comp, on='company_id', how='left')
comp_size = merged_data[['company_id', 'company_size']]
comp_size.to_csv('jobs_with_company_size.csv', index=False)

NameError: name 'jobs' is not defined

### Convert number to datetime format
Data store the date and time the posting was posted, expired but in epoch format so we need to convert to readable date time format

In [12]:
jobs_posting['new_original_listed_time'] = pd.to_datetime(jobs_posting['original_listed_time'], unit='ms')
jobs_posting['new_closed_time'] = pd.to_datetime(jobs_posting['closed_time'], unit='ms')
jobs_posting['new_listed_time'] = pd.to_datetime(jobs_posting['listed_time'], unit='ms')

C:\Users\hoang\AppData\Local\Temp\ipykernel_8912\3902175047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs_posting['new_original_listed_time'] = pd.to_datetime(jobs_posting['original_listed_time'], unit='ms')
C:\Users\hoang\AppData\Local\Temp\ipykernel_8912\3902175047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs_posting['new_closed_time'] = pd.to_datetime(jobs_posting['closed_time'], unit='ms')
C:\Users\hoang\AppData\Local\Temp\ipykernel_8912\3902175047.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs_posting['new_listed_time'] = pd.to_datetime(jobs_posting['listed_time'], unit='ms')

In [ ]:
# hello do you see me? lol

### Calculate yearly average salary
avarage = median salary
or = (max + min) /2

In [4]:
# Fill NaN values in 'med_salary' with the average of 'max_salary' and 'min_salary'
jobs_posting['avg_salary'] = jobs_posting['med_salary'].fillna((jobs_posting['max_salary'] + jobs_posting['min_salary']) / 2)

# Change all salary to yearly salary unit
jobs_posting['yearly_avg_salary'] = jobs_posting['avg_salary']
multiplier_map = {'YEARLY': 1,
                  'HOURLY': 40 * 52.2,
                  'MONTHLY': 12,
                  'WEEKLY': 52.2,
                  'ONCE': 1}
jobs_posting['yearly_avg_salary'] *= jobs_posting['pay_period'].map(multiplier_map)
jobs_posting.head(5)

,job_id,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped,avg_salary,yearly_avg_salary
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,NaN,1.700000e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101,5250.00,63000.00
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,NaN,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420,NaN,NaN
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,Bachelor's Degree in Mechanical Engineering pr...,1.700000e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644,NaN,NaN
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,NaN,1.700000e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461,22.27,46499.76
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,NaN,1.700000e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346,240895.00,240895.00

# Remove NA row for missing experience level

In [5]:
jobs_posting.columns.tolist()

['job_id',
 'company_id',
 'title',
 'max_salary',
 'med_salary',
 'min_salary',
 'pay_period',
 'formatted_work_type',
 'location',
 'applies',
 'original_listed_time',
 'remote_allowed',
 'views',
 'job_posting_url',
 'application_url',
 'application_type',
 'expiry',
 'closed_time',
 'formatted_experience_level',
 'skills_desc',
 'listed_time',
 'posting_domain',
 'sponsored',
 'work_type',
 'currency',
 'compensation_type',
 'scraped',
 'avg_salary',
 'yearly_avg_salary']

In [6]:
jobs_posting['formatted_experience_level'].value_counts()

formatted_experience_level
Mid-Senior level    11258
Entry level          7969
Associate            2793
Director             1354
Internship            387
Executive             304
Name: count, dtype: int64

In [7]:
jobs_posting['formatted_experience_level'].isna().sum()

9181

In [8]:
jobs_posting['formatted_experience_level'].notna().sum()

24065

In [11]:
jobs_posting = jobs_posting[jobs_posting['formatted_experience_level'].notnull()]
jobs_posting['formatted_experience_level'].isna().sum()

0